* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

header {
    width: 1140px;
    display: inline-flex;
    height: 75px;
}
h2 {
    line-height: 1;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    padding-top: 180px;
    padding-bottom: 45px;
    margin: 0;
    text-align: center;
}
h3 {
    line-height: 1;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 25px;
    margin: 0;
    text-align: center;
}
h4 {
    line-height: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffcccf;
    padding-bottom: 120px;
    margin: 0;
    text-align: center;
}
.home-page {
    min-height: 100%;
    width: 100%;
    position: relative;
    background: #2c3e50;
}

.home-page::after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    position: absolute;
    width: 100%;
    background: url("../img/bc-img-home.png") no-repeat center center;
    background-size: 100%;
}

.img-carousel {
    max-width: 100%;
    margin: 0 auto;
}

.home-page-header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
}

.slides {
    position: relative;
}

.carousel-text-wrap {
    width: 840px;
    height: 170px;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
    color: #74c7d5;
    z-index: 20;
}

.left-side {
    width: 50%;
    font-size: 60px;
    font-weight: 300;
    line-height: 58px;
    text-align: right;
    padding-right: 17px;
}

.right-side {
    width: 50%;
    font-size: 138px;
    font-weight: 900;
    line-height: 1;
    vertical-align: middle;
    text-align: left;
    padding-left: 17px;
}

.prev, .next {
    background: Transparent no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    width: 33px;
    height: 56px;
    z-index: 20;
}

.prev {
    background-image: url('../img/left-arrow.png');
    left: 50px;
}

.next {
    right: 50px;
    background-image: url('../img/right-arrow.png');
}

.logo-wrap {
    width: 30%;
    font-family: 'Damion', cursive;
    font-weight: 400;
    color: #ffffff;
    font-size: 50px;
    line-height: 1;
    padding-top: 35px;
}

.menu {
    width: 70%;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list-item {
    padding: 40px 30px 17px 30px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.list-item-link {
    text-decoration: none;
    color: #ffffff;
}
.services-page, .about-page  {
    min-height: 100%;
    width: 100%;
    background-size: 100%;
    padding-bottom: 125px;
}
.services-page {
    background: #b24a50 url("../img/bg-img-services.png") no-repeat;
}
.about-page {
    background: #665464 url("../img/bg-img-about.png") no-repeat;
}
.content-wrap {
    margin: 0 auto;
    width: 1140px;
    height: 100%;
}
.red-text {
    color: #ec9da2;
}
.services-blocks-wrap {
    display: flex;
    justify-content: space-evenly;
}
.services-block {
    width: 23%;
    background: rgba(196, 81, 88, 0.8);
    padding: 45px 25px;
}
.block-icon-link {
    text-decoration: none;
    color: #b24a50;
    text-align: center;
    font-size: 65px;
}
.icon-wrap{
    display: block;
    margin: 0 auto 30px;
    width: 145px;
    height: 145px;
    line-height: 145px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background-color: white;
    position: relative;
}
.icon-ring {
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 50%;
    border: 5px solid #b24a50;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -65px;
}
.services-block-heading {
    font-size: 30px;
    padding: 0;
    margin-bottom: 48px;
}
.services-block-paragraph {
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.about-page-heading {
    padding-bottom: 35px;
}
.about-page-subheading {
    color: #e5d1e3;
    padding-bottom: 60px;
}

